/*同时影响industry_ranking.html和expert_search.html*/

body {
    width: 1200px; /*会同时影响foundTop.html和search_achieve.html*/
    /*margin: 40px auto;*/
    margin: auto; /*加上40px，顶部会有空隙*/
    font-family: 'trebuchet MS', 'Lucida sans', Arial;
    font-size: 16px;
    color: #444;
    /*padding: 20px;*/
}

div.main {
    width: 1160px;
    border-radius: 5px;
    background-color: #F8F8FF;
    padding: 20px;
}

/*文本输入*/
input[type=text], select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=text] {
    font-family: inherit;
    /*color: #5E99BD;设置的是字体颜色*/
    margin: 10px auto;
}

/*input[type=range]{*/
/*    width: 27%;*/
/*    padding: 12px 20px;*/
/*    margin: 10px 10px 10px 10px;*/
/*}*/

input[type=range] {
    width: 27%;
    margin: 13px 13px 13px 13px;
    -webkit-appearance: none;
    height: 8px;
    border-radius: 4px;
    /*background: -webkit-linear-gradient(#ffa200, #ffa200) no-repeat white;*/
    background: -webkit-linear-gradient(#5599FF, #5599FF) no-repeat white;

    background-size: 50% 100%; /* 由于周期默认value=0.50正好占50% */
}

/* -webkit-slider-thumb仅对谷歌浏览器有效 */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #aaa;
    width: 8px;
    height: 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: #666;
}


/*按钮（自定义指标比例）的样式*/
input[type=submit].zdyzb{
    border: none;
    color: #5555FF;
}

/*提交(生成排名)按钮的样式*/
input[type=submit].scpm {
    width: 20%;
    padding: 14px 20px;
    margin-top: 20px;
    /*margin: 8px auto;*/
      color: white;
    /*background-color: #99BBFF;*/
    background-color: #5555FF ;
    font-family: inherit;
    border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit].scpm:hover {
  background-color: #484848;
}
/*搜索专家详情按钮的样式*/
input[type=submit].scpm2 {
    width: 8%;
    padding: 14px 20px;
    margin-top: 20px;
    /*margin: 8px auto;*/
      color: white;
    /*background-color: #99BBFF;*/
    background-color: #5555FF ;
    font-family: inherit;
    border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit].scpm2:hover {
  background-color: #484848;
}

/*单选按钮*/
input[type=radio]{
    margin-left: 17px;
    margin-top: 17px;
    margin-bottom: 15px;
}

/*鼠标悬停有黑色提示文本*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: grey;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* 定位 */
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*定义下拉框（排名数量）样式*/
.form-control {
    /*display: block;*/
    width: 20%;
    height: 34px;
    padding: 6px 6px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
/* IE浏览器下隐藏下拉按钮 */
select::-ms-expand { display: none; }
/* 定义隐藏下拉框默认样式及图片覆盖下拉按钮 */
.info-select{
    width: 40px;
    outline:none;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    -ms-appearance:none;
    /*background: url(img/down.png) no-repeat scroll right center transparent;*/
}

/*!*专家信息的分割线*!*/
/*.line_cut{*/
/*    width: 100%;*/
/*    height: 1px;*/
/*    border-top: 1px solid #ccc;*/
/*}*/

#person_info{
    padding: 20px;
}
.person_div{
    /*实线边框*/
    border-style: solid;
    /*圆角边框*/
    border-radius: 20px;
    border-color: #B8B8DC;
    margin-top: 20px;
}
.per_name{
    width: 15%;
    height: 50px;
    margin: 20px;
    float: left;
}
.per_college{
    margin: 20px;
}
.per_major{
    margin: 20px;
}
.per_articles{
    margin: 20px;
}
.per_patents{
    margin: 20px;
}
.link{
    width: 60%;
    display:inline;
    margin-left: 20px;
}


