<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>行业排名</title>

    <link href="/static/css/daohang.css" rel="stylesheet"/>
</head>
<body>
<!--导航栏-->
<div class="nav">
    <ul class="ul_one">
        <li class="li_one">
            <a href="expert_search.html">行业排名</a>
            <ul class="ul_two">
<!--                <li><a href="#">1</a></li>-->
            </ul>
        </li>
        <li class="li_one">
            <a href="industry_ranking.html">专家信息检索</a>
            <ul class="ul_two">
<!--                <li><a href="#">1</a></li>-->
            </ul>
        </li>

    </ul>
</div>

<!--正文-->
<div>
    <h2>作者的文章和专利详情</h2>
    <div id="fromshowbtn">
        <p id='bynamep'>搜索出当前名字的所有人物及其成就</p>
        <p id='byidp'>搜索出当前id的人物成就</p>
    </div>

    <div>
        <input type="text" name="inputpname" id="inputpid" value="朱磊">
        <button id="showbtn">展示</button>

<!--        <div>-->
<!--            <input type="text" name="inputpid" id="inputprelid" value="">-->
<!--            <button id="showbyrelidbtn">知网id精确查询</button>-->

<!--        </div>-->
        <div id="cy"></div>
    </div>
</div>


</body>
</html>