<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>专家信息检索</title>

    <link href="/static/css/daohang.css" rel="stylesheet"/>
    <link href="/static/css/body.css" rel="stylesheet"/>
    <link href="/static/css/graph.css" rel="stylesheet"/>
    <script src="/static/js/jquery-1.11.2.min.js"></script>
    <script src="/static/js/cytoscape.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.js"></script>
    <script src="/static/js/cytoscape-qtip.js"></script>

    <script src="/static/js/expert_search.js"></script>
</head>
<body>
<!--导航栏-->
<div class="nav">
    <ul class="ul_one">
        <li class="li_one">
            <a href="/">行业排名</a>
            <ul class="ul_two">
                <!--                <li><a href="#">1</a></li>-->
            </ul>
        </li>
        <li class="li_one">
            <a href="/expert_search">专家信息检索</a>
            <ul class="ul_two">
                <!--                <li><a href="#">1</a></li>-->
            </ul>
        </li>

    </ul>
</div>

<!--正文-->
<div>
    <div class="main">
        <div id="fromshowbtn">
            <!--            <p id='bynamep'>搜索出当前名字的所有人物及其成就</p>-->
            <!--            <p id='byidp'>搜索出当前id的人物成就</p>-->
        </div>
        <input type="text" name="inputpname" id="inputpid" value="朱磊">
        <button id="showbtn">搜索</button>
        <div class="goods">
<!--            <img src="1.png" alt="">-->
            <div class="title">名字</div>
            <div class="info">信息1</div>
            <div class="money">专利或者文章信息</div>
        </div>
    </div>


    <div>

        <!--        <div>-->
        <!--            <input type="text" name="inputpid" id="inputprelid" value="">-->
        <!--            <button id="showbyrelidbtn">知网id精确查询</button>-->

        <!--        </div>-->

        <div id="cy"></div>
    </div>
</div>


</body>
</html>