<!DOCTYPE html>
<html>
<head>
    <title>学习Cytoscape.js和neo4j</title>
    <link href="/static/css/style.css" rel="stylesheet" />
    <script src="/static/js/jquery-1.11.2.min.js"></script>
    <script src="/static/js/cytoscape.min.js"></script>

	<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.css">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.js"></script>

	<script src="/static/js/cytoscape-qtip.js"></script>
    <script src="/static/js/code.js"></script>
</head>
<body>
  <h1>搜索作者的文章和专利详情</h1>
<!--  <div>-->
<!--      <input type = "text" name="input_sentence" id="input_sentence" value="Like this">-->
<!--    <p name="output_sentence" id="output_sentence"></p>-->
<!--    <button id="button">提交</button>-->
<!--  </div>-->

    <div>
      <input type = "text" name="input2" id="input2" value="朱磊">
    <button id="button2">展示</button>
  </div>

  <div id="cy"></div>

</body>
</html>
