<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>学者专利和文章详情</title>
    <link href="/static/css/style.css" rel="stylesheet" />
    <script src="/static/js/jquery-1.11.2.min.js"></script>
    <script src="/static/js/cytoscape.min.js"></script>

	<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.css">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.js"></script>
    <link href="favicon.ico" rel="shortcut icon">

	<script src="/static/js/cytoscape-qtip.js"></script>
    <script src="/static/js/search_achieve.js"></script>
</head>
<body>
    <h1>搜索作者的文章和专利详情</h1>
    <div>
      <input type = "text" name="input2" id="input2" value="朱磊">
    <button id="showbtn">展示</button>
  </div>

  <div id="cy"></div>
</body>
</html>